
.header{
    padding: 15px;
    

}
.h1{
    color: black;
    
}
.h2{
    color: #00A5EC;
display: inline;
}


.flex-container {
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    background-color: #67676729;
}
.flexhead {
    color: #00A5EC;
}
.innerbox {
    font-size: xx-large;
    text-align: center;
    margin: 40px;
    flex: 30%;
    border: 5px ;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #FFFFFF;  
width: 352px;
height: 360px;
display: inline;
}